<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw6KBp66a8edC22YDivSqM7K0Akvb7y3w</string>
	<key>GCM_SENDER_ID</key>
	<string>296719733350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nexo</string>
	<key>PROJECT_ID</key>
	<string>nexo-avans</string>
	<key>STORAGE_BUCKET</key>
	<string>nexo-avans.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296719733350:ios:0f2f4970875741f8a713a7</string>
</dict>
</plist>